*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    background-image: url(../imagen/fondo-hotel.jpg);
    background-size:cover;
    /*background-repeat:no-repeat;*/
    height: 100vh;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-attachment: fixed;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
}

.container{
    background-image: url(../imagen/fondo-hotel.jpg);
    background-size:cover;
    /*background-repeat:no-repeat;*/
    height: 100vh;
    padding-top: 6%;
    padding-left: 20%;
    background-attachment: fixed;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
}
.titulo{
    font-size: 2.5em;
    margin-bottom: 0.2em;
}
.parrafo-titulo{
    padding-bottom: 1em;
}

.boton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    
}
.logo{
    width: 30px;
}
.logo.abajo{
    background-color: #fff;
    width: 20px;
}
.boton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.boton:active {
	position:relative;
	top:1px;
}

/* ACA EMPIEZA EL CODIGO DE LA GALERIA */
.intro{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4em;
    font-size: 1.5em;
}
.accordian {
	width: 805px; height: 320px;
	/*overflow: hidden;*/
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	
    /*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
    width: 100%;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

/* ACA TERMINAN LOS ESTILOS DE LA GALERIA */

header{
    position: fixed;
    top: 00;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #D5D493;
    padding: 30px 20px;
}
header .logo{
    position: relative;
    color: #022502;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
    transition: 0.7s;
    text-decoration: none;
}

p{
    width: 80%;
    display: flex;

}
/*
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #370854;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    justify-content: right;
}

header ul li a:hover{
    background: #786b59;
    /*box-shadow: inset 200px 0 0 0 #0c2d5e;*/
    padding: 5px;  
    color: #fffe;
}


.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
    grid-gap: 20px;

}
.container-img .box-img figure{

    width: 100%;
    height: 100%;

}

/* .container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
} */

.container-img .box-img:nth-child(1){
    grid-column-start: span 1;
}

.container-img .box-img:nth-child(4){
grid-column-start: span 1;

}

.container-img .box-img img:hover {
    transform: scale(1.5);

}
.container-img .box-img {overflow:hidden;}

form h4{
    padding-bottom: 1em ;
}
.divform{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    background-image: url(../imagen/fondo-hotel.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 80vh;
    
}

@media screen and (max-width: 960px){
    .parrafo-titulo{
        padding-bottom: 1em;
        width: 85%;
    }
    .titulo{
        font-size: 2.5em;
        margin-bottom: 0.2em;
        width: 85%;
    }
    .formdiv{
        display: flex;
        flex-direction: column;
        max-width: 60vh;
        margin: 0 auto;
    }
    .divform{
        display: grid;
        justify-content: center;
        align-items: center;
        
        
    }
    .container{
        background-image: url(../imagen/fondo-hotel.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        height: 70vh;
        padding-top: 20%;
        padding-left: 20%;
       
    }

    
}

@media screen and (max-width: 500px){

    .parrafo-titulo{
        padding-bottom: 1em;
        width: 85%;
    }
    .titulo{
        font-size: 2.5em;
        margin-bottom: 0.2em;
        width: 85%;
    }

    .formdiv{
        display: flex;
        flex-direction: column;
        max-width: 60vh;
        margin: 0 auto;
    }
}


/*.img-fluid{
    position: absolute;
    display: inline;
    z-index: 1;
    margin: 127px 0px 50px 1000px;
    width: 30px;            
} */

/*.zona1{
    position:absolute;
    width: 100%;
    height: 100vh;
    background: url(../imagen/hotel.jpg);
    background-size: cover;
    background-position: center center;
}*/
header.abajo .logo,
header.abajo ul li a{
    color: #817c00;
}

footer {
	text-align: center;
	padding: 7px;
	max-width: 8px;
	position: fixed;
	top: 180px;
	right: 25px;

		.icon {
			margin-top: 12px;
			margin-right: 10px;
            display: inline-block;
			font-size: 35px;
            right: 25px;
            color: #2b2a01  ;
            
            
		}
	}
/*}*/


